.root {
  position: relative;
  z-index: 0;
  display: inline;
  isolation: isolate;
}

.root::after {
  content: attr(data-text);
  position: absolute;
  top: 0.07em;
  left: 0.07em;
  z-index: -1;

  background-image: linear-gradient(
    45deg,
    transparent 45%,
    var(--shadow-color, rgba(0, 0, 0, 0.9)) 45%,
    var(--shadow-color, rgba(0, 0, 0, 0.9)) 55%,
    transparent 0
  );
  background-size: 0.085em 0.085em;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: lineShadow 15s linear infinite;
  pointer-events: none;
  opacity: 0.85;
}

@keyframes lineShadow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% -100%;
  }
}

